/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Custom Var */
:root {
	--temporary-border-outline: 3px dashed red;
}

/* Global settings */
* {
	box-sizing: border-box; /* border-box will make it so any padding will not effect the width */
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	scroll-behavior: smooth;

	letter-spacing: 1px;
	color: whitesmoke;
	font-family: "Roboto", sans-serif;
	font-weight: 500;

	transition: all 0.2s ease;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 100lvh;
	background-color: #1c2037;

	overflow-x: hidden;
}
p {
	font-size: 1rem;
}
ul,
ol {
	list-style: none;
}
#overall-container {
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

#input-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

#choices-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	gap: 20px;
}
#choices-container > p {
	width: fit-content;
	background-color: rgb(255, 176, 28);
	color: rgb(0, 0, 0);
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 20px;
	text-align: center;
}
.selected-choice {
	background-color: rgb(68, 255, 164) !important;
}
.no-background {
	opacity: 0;
}
#choice-input {
	color: black;
	width: 100%;
	height: 100px;
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 1rem;
}
